
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add space under Swiper pagination dots */
.swiper-pagination {
  bottom: -30px !important; /* Increase as needed */
}

/* Optional: Increase spacing between dots */
.swiper-pagination-bullet {
  margin: 0 6px !important;
}


/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


